@font-face {
    font-family: 'NanumSquareNeoVariable';
    src: url(../assets/font/NanumSquareNeo-Variable.woff);
}
@font-face {
    font-family: 'NanumSquareNeoTTF-aLt';
    src: url(../assets/font/NanumSquareNeoTTF-aLt.woff);
}
