@charset "UTF-8";
@import 'reset.scss', 'font.scss';

body {
    overflow-x: hidden;
}
#defaultCanvas0 {
    position: fixed;
    top: 0;
    z-index: -2;
}
.wrap {
    position: relative;
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
    .introText {
        display: flex;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        color: var(--bs-white);
        h1 {
            margin: 30px;
            font-family: 'NanumSquareNeoTTF-aLt';
            font-size: 40px;
        }
    }
    .introend {
        display: flex;
        position: fixed;
        top: 100vh;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0.9);
        z-index: -1;
        transition: all 1ms;
    }
    .change {
        top: 0;
    }
    .itemBox {
        position: fixed;
        top: 100vw;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(1.5px);
        transition: all 0.5s;
        z-index: -1;
    }
    .show {
        top: 0;
    }
    .itemBox2 {
        position: fixed;
        display: flex;
        width: 1px;
        height: 100vh;
        z-index: 1;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: top -1s ease 0s, width 3s ease 0s;
    }
    .show2 {
        background: rgb(253, 254, 255);
        width: 90%;
        opacity: 0.5;
    }
    .project {
        justify-content: center;
    }
    .project1 {
        position: absolute;
        display: flex;
        top: 280vh;
        left: 50vw;
        transform: translateX(-50%);
        width: 70%;
        height: 100vh;
        z-index: 3;
        transition: all 1s;
        transition-delay: 0.2s;
    }
    .project2 {
        position: absolute;
        display: flex;
        top: 300vh;
        left: 50vw;
        transform: translateX(-50%);
        width: 70%;
        height: 100vh;
        z-index: 3;
    }
    .project3 {
        position: absolute;
        display: flex;
        top: 400vh;
        left: 50vw;
        transform: translateX(-50%);
        width: 70%;
        height: 100vh;
        z-index: 3;
    }
    .siteimage {
        width: 67%;
        height: 100%;
        #kespaImg {
            width: 100%;
            height: 50%;
            background: url(../assets/img/kespa.JPG) 0 0 / contain no-repeat;
        }
        #dogImg {
            width: 100%;
            height: 50%;
            background: url(../assets/img/dogbnb.JPG) 0 0 / contain no-repeat;
        }
        #bikeImg {
            width: 100%;
            height: 50%;
            background: url(../assets/img/seoulbike.JPG) 0 0 / contain no-repeat;
        }
    }
    .sitedesc {
        width: 33%;
        height: 100%;
        h3 {
            font-family: 'NanumSquareNeoVariable';
            color: #000;
        }
    }
    .show3 {
        top: 200vh;
    }
    .project__stack {
        display: flex;
        flex-wrap: wrap;
        margin: 1.2em 0;
    }

    .project__stack-item {
        list-style: none;
        margin: 0.5em;
        font-weight: 500;
        font-size: 0.8rem;
        color: #000;
    }
}
#skill {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 500vh;
    left: 50vw;
    transform: translateX(-50%);
    width: 100vw;
    height: 100vh;
    z-index: 3;
    align-items: center;
    .title {
        max-height: 300px;
        h2 {
            font-size: 10rem;
            color: #46427f;
            font-family: 'Parisienne';
            text-shadow: -0.08em 0.08em #c9d5db;
        }
    }
    .skillLst {
        display: flex;
        justify-content: center;
        width: 70vw;
        flex-wrap: wrap;
        margin-top: 10vh;
        div {
            width: 10vw;
            height: 10vw;
            margin: 0 20px 30px 0;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .long {
            width: auto;
            max-width: 300px;
        }
    }
}
/* 스크롤바 설정*/
html::-webkit-scrollbar {
    width: 2px;
}

/* 스크롤바 막대 설정*/
html::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 25px;
}

/* 스크롤바 뒷 배경 설정*/
html::-webkit-scrollbar-track {
    background-color: #fff;
}
